body {
	line-height: 1.5;
	font-family: Calibri;
	font-size: 18px;
}

#banner {
	width:70%;
	margin: auto;
  	display: block; /* Centraliza horizontalmente */
}

.principal{
	background: #FAF8DA;
	padding: 50px;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	font-size: 30px;

}

.titulo-centralizado {
	text-align: center;
	font-size: 26px;
	background-color: black;
	color: #FAF8DA;
}

p {
	text-align: justify;
}

.paragrafocentro{
	text-align: center;
	font-size: 18px;
	color: #4a392b;
}
#missao {
	font-size: 20px
}

em strong {
	
	text-align: center;
	font-size: 20px;
}

.itens {
	font-style: italic;
	color: #FAF8DA;
	font-size: 20px;
}

.beneficios {
	background: #000000;
	padding: 10px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 10%;
	justify-content: center;
}

.imagembeneficios {
	width: 20%;
	padding: 5px;
	border-radius: 15px;
}

.imgbeneficio1{
	width: 40%;
}

.container-img{
	display: flex;
  	justify-content: center; /* Centraliza horizontalmente */
}
